/* styles.css */

/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background-color: #fff700;
    color: rgb(45, 0, 42);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #000022;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

button {
    background-color: #4CAF50;
    color: rgb(0, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #00ffddf1;
}

footer {
    background-color: #53d1ff;
    color: #001116;
    text-align: center;
    padding: 0px 0;
    position: auto;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
}
